<div class="container mt-5">
  <h2 class="mb-4">Stocks Calculator</h2>

  <div class="mt-4">
    <!-- Add your image using the <img> tag -->
    <img src=".\assets\images\icons8-calculator-100.png" alt="My Image" class="img-fluid">
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Buy 1 Price:</label>
        <input [(ngModel)]="buy1Price" type="number" class="form-control" placeholder="Enter initial buy 1  price">
      </div>
      <div class="form-group">
        <label>Qty 1:</label>
        <input [(ngModel)]="qty1" type="number" class="form-control" placeholder="Enter initial Qty 1">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Buy 2 Price:</label>
        <input [(ngModel)]="buy2Price" type="number" class="form-control" placeholder="Enter  buy 2  price">
      </div>
      <div class="form-group">
        <label>Qty 2:</label>
        <input [(ngModel)]="qty2" type="number" class="form-control" placeholder="Enter Qt2 ">
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 text-center">
      <button (click)="calculate()" class="btn btn-primary btn-block">Calculate</button>
    </div>
  </div>
  <div *ngIf="averagePrice" class="mt-4">
    <p><strong>Average Buy Price:</strong> {{ averagePrice }}</p>
    <p><strong>Total qts:</strong> {{ totalQuantity }}</p>
    <p><strong>Total Amount Invested:</strong> {{ totalAmountInvested }}</p>
  </div>

    <!-- Add spacing before the new section -->
    <div class="mt-4"></div>

 <!-- New section for Percentage Move -->
 <div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Initial Price:</label>
      <input [(ngModel)]="initialPrice" type="number" class="form-control" placeholder="Enter initial buy  price">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Current Price:</label>
      <input [(ngModel)]="currentPrice" type="number" class="form-control" placeholder="Enter sell price">
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12 text-center">
    <button (click)="calculatePercentageMove()" class="btn btn-success">Calculate % Up move</button>
  </div>
</div>

<div *ngIf="percentageMove" class="mt-4">
  <!-- ... Existing code ... -->
  <p style="color: green;"><strong>Percentage Up Move: {{ percentageMove }}% </strong></p>
</div>


    <!-- Add spacing before the new section -->
    <div class="mt-4"></div>

 <!-- New section for Percentage Move -->
 <div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Initial Price:</label>
      <input [(ngModel)]="initialPriceDown" type="number" class="form-control" placeholder="Enter initial buy  price">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Current Price:</label>
      <input [(ngModel)]="currentPriceDown" type="number" class="form-control" placeholder="Enter sell price">
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12 text-center">
    <button (click)="calculatePercentageDownMove()" class="btn btn-danger">Calculate % Down move</button>
  </div>
</div>
<div *ngIf="percentageMoveDown" class="mt-4">
  <p style="color: red;"><strong>Percentage Down Move: {{ percentageMoveDown }}% </strong></p>
</div>



</div>