<div class="container mt-5">
  <h2 class="mb-4">Stocks Calculator</h2>

  <div class="mt-4">
    <!-- Add your image using the <img> tag -->
    <img src=".\assets\images\icons8-calculator-100.png" alt="My Image" class="img-fluid">
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Buy 1 Price:</label>
        <input [(ngModel)]="buy1Price" type="number" class="form-control">
      </div>
      <div class="form-group">
        <label>Qty 1:</label>
        <input [(ngModel)]="qty1" type="number" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Buy 2 Price:</label>
        <input [(ngModel)]="buy2Price" type="number" class="form-control">
      </div>
      <div class="form-group">
        <label>Qty 2:</label>
        <input [(ngModel)]="qty2" type="number" class="form-control">
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 text-center">
      <button (click)="calculate()" class="btn btn-primary">Calculate</button>
    </div>
  </div>
  <div *ngIf="averagePrice" class="mt-4">
    <p><strong>Average Buy Price:</strong> {{ averagePrice }}</p>
    <p><strong>Total Amount Invested:</strong> {{ totalAmountInvested }}</p>
  </div>
</div>
